/*Game window*/
:root {
	--game-w: 1024px;
	--game-h: 768px;
}

.game-window {
	width: var(--game-w);
	height: var(--game-h);
	overflow: hidden;
}

.scene {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Common styles*/
.selectable, .viewable {
	cursor: pointer;
}
.unselectable>.sprite {
	filter: grayscale(100%);
}

/*Battle Scene*/

/*Navigation elements*/
.nav-button {
	display: inline-block;
	font-size: 18px;
	color: white;
	background-color: deepskyblue;
	border: none;
	padding: 12px;
	width: 15%;
	cursor: pointer;
	position: absolute;
}
	.nav-button:hover {
		background-color: skyblue;
	}
	.nav-button:disabled {
		color: lightgray;
		background-color: gray;
		cursor: default;
	}
	.undo-button {
		bottom: 12px;
		left: 48px;
	}
	.end-turn-button {
		bottom: 12px;
		right: 48px;
	}
	.menu-button {
		top: 12px;
		right: 12px;
		width: unset;
	}
.turn-title {
	font-size: 24px;
	position: absolute;
	top: 32px;
	left: 32px;
}

/*Skill list*/
.skill-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-end;
	position: absolute;
	bottom: 0px;
	width: 40%;
}
	/*Selected unit info*/
	.unit-info {
		position: relative;
		height: var(--face-h);
		width: var(--face-w);
		overflow: visible;
		display: flex;
		justify-content: flex-start;
	}
		.unit-info .face {
			height: var(--face-h);
			width: var(--face-w);
			box-sizing: border-box;
			position: absolute;
			bottom: 0px;
			background-repeat: no-repeat;
			background-position: bottom left;
		}
		.unit-info .lifebar {
			visibility: visible;
		}
		.unit-info .name {
			position: absolute;
			z-index: 2;
			height: max-content;
			width: max-content;
			left: 0px;
			bottom: 100%;
			font-size: 16px;
			font-weight: bold;
		}
		.unit-info:hover .skill-description {
			display: block;
			bottom: 130%;
		}

/*Phase change & end screens*/
.phase-banner {
	font-size: 40px;
	font-weight: bold;
	background-color: white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 5;
	animation: banner-display 600ms linear 2 alternate;
	pointer-events: none;
}
.battle-end {
	font-size: 64px;
	font-weight: bold;
	color: white;
	background-color: #000000cc;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 5;
	animation: end-screen 2s linear backwards;
	animation-delay: 1s;
}

/*Board structure*/
:root {
	--square-size: 128px;

	--square-w: 128px;
	--square-h: 64px;
	--square-total-h: 128px;

	--unit-w: 64px;	
	--unit-h: 64px;

	--face-w: 96px;	
	--face-h: 80px;

	--lifebar-h: 12px;

	--skill-w: 64px;
	--skill-h: 64px;
}
.board {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 96px;
	z-index: 0;
}
	.square {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		box-sizing: border-box;
		width: var(--square-w);
		height: var(--square-h);
		pointer-events: none;
	}
	.square::after {
		content: "";
		width: inherit;
		height: inherit;
		position: absolute;
		z-index: 1;
		clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
		pointer-events: auto;
	}

	/*Terrain types*/
	.square>.sprite {
		position: absolute;
		z-index: -2;
		width: var(--square-w);
		height: var(--square-total-h);
		top: 0px;
		
		background-image: url(../img/testTileset.png);
		background-repeat: no-repeat;
		background-position: 0 0;
	}
		.pit>.sprite {
			background-position-y: calc(-1*var(--square-total-h));
		}
		.cover>.sprite {
			background-position-y: calc(-2*var(--square-total-h));
		}
		.wall>.sprite {
			background-position-y: calc(-3*var(--square-total-h));
			top: -32px;
		}
		.rough>.sprite {
			background-position-y: calc(-4*var(--square-total-h));
		}

	/*Square highlighting*/
	.square>.sprite::after {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0px;
		left: 0px;
		opacity: 65%;
		width: var(--square-w);
		height: var(--square-h);
		background-image: url(../img/tileHighlights.png);
		background-repeat: no-repeat;
		background-position: 0 0;
	}
		.move-range>.sprite::after {
			background-position-y: calc(-1*var(--square-h));
		}
		.skill-range>.sprite::after {
			background-position-y: calc(-2*var(--square-h));
		}
		.deploy-range>.sprite::after {
			background-position-y: calc(-3*var(--square-h));
		}
		.enemy-preview.move-range>.sprite::after {
			background-position-y: calc(-4*var(--square-h));
		}

		.square.selected>.sprite::after {
			background-position-x: calc(-1*var(--square-w));
		}

		.invalid>.sprite::after {
			opacity: 35%;
		}
	/*Move path*/
	.square.move-path>.sprite::before {
		content: "";
		position: absolute;
		z-index: -0.5;
		top: 0px;
		left: 0px;
		width: var(--square-w);
		height: var(--square-h);
		background-image: url(../img/path.png);
		background-repeat: no-repeat;
	}
		/*single direction*/
		.left>.sprite::before {
			background-position: 0 0;
		}
		.up>.sprite::before {
			background-position: 0 calc(-1*var(--square-h));
		}
		.right>.sprite::before {
			background-position: 0 calc(-2*var(--square-h));
		}
		.down>.sprite::before {
			background-position: 0 calc(-3*var(--square-h));
		}
		/*straight*/
		.left.right>.sprite::before {
			background-position: calc(-1*var(--square-w)) 0;
		}
		.up.down>.sprite::before {
			background-position: calc(-1*var(--square-w)) calc(-1*var(--square-h));
		}
		/*corners*/
		.left.up>.sprite::before {
			background-position: calc(-2*var(--square-w)) 0;
		}
		.up.right>.sprite::before {
			background-position: calc(-2*var(--square-w)) calc(-1*var(--square-h));
		}
		.right.down>.sprite::before {
			background-position: calc(-2*var(--square-w)) calc(-2*var(--square-h));
		}
		.down.left>.sprite::before {
			background-position: calc(-2*var(--square-w)) calc(-3*var(--square-h));
		}
		/*arrows*/
		.left.move-end>.sprite::before {
			background-position: calc(-3*var(--square-w)) 0;
		}
		.up.move-end>.sprite::before {
			background-position: calc(-3*var(--square-w)) calc(-1*var(--square-h));
		}
		.right.move-end>.sprite::before {
			background-position: calc(-3*var(--square-w)) calc(-2*var(--square-h));
		}
		.down.move-end>.sprite::before {
			background-position: calc(-3*var(--square-w)) calc(-3*var(--square-h));
		}

/*Unit base*/
.unit {
	width: var(--unit-w);
	height: var(--unit-h);
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: center;
}
	.unit>.sprite {
		width: var(--unit-w);
		height: var(--unit-h);
		box-sizing: border-box;
		position: absolute;
		z-index: 0;
		bottom: 0px;
		background-repeat: no-repeat;
		background-position: 0px 0px;
		transition: transform 0.2s;
	}

	/*Unit details*/
	.lifebar {
		position: absolute;
		z-index: 2;
		height: var(--lifebar-h);
		top: 0px;
		background-image: url(../img/lifebar.png);
		background-position: 0px 0px;
		background-repeat: repeat-x;
		visibility: hidden;
	}
		.lifebar>.inner {
			position: absolute;
			z-index: 0;
			left: 0px;
			height: var(--lifebar-h);
			background-image: url(../img/lifebar.png);
			background-position: 0px calc(-1*var(--lifebar-h));
			background-repeat: repeat-x;
		}
		.lifebar>.change {
			position: absolute;
			z-index: 1;
			height: var(--lifebar-h);
			background-image: url(../img/lifebar.png);
			background-position: 0px calc(-2*var(--lifebar-h));
			background-repeat: repeat-x;
			visibility: hidden;
		}
		.hp-change .lifebar>.change {
			animation: fade-out 0.8s 0.2s both;
			visibility: visible;
		}
		.unit:hover .lifebar, .hp-change .lifebar, .in-range .lifebar, .in-area .lifebar {
			visibility: visible;
		}

	/*Unit states and motions*/
	.unit.x2 {
		--unit-w: 128px;
		--unit-h: 128px;
	}
	.left.unit>.sprite {
		transform: scaleX(-1);
	}
	.unit.selectable.selected>.sprite, .unit.selectable:hover>.sprite {
		filter: drop-shadow(2px 0px yellow)
		drop-shadow(-2px 0px yellow)
		drop-shadow(0px 2px yellow)
		drop-shadow(0px -2px yellow);
	}
	.damaged .sprite {
		animation: shake 150ms;
	}
	.spawn .sprite {
		animation: drop-in 0.2s ease-in;
	}
	.dead .sprite {
		animation: darken-and-fade 1s 0.2s both;
	}

	/*Unit skins*/
	.melee-unit>.sprite {
		background-image: url("../img/testMeleeUnit.png");
	}
	.melee-unit>.face {
		background-image: url("../img/testMeleeUnitFace.png");
	}

	.support-unit>.sprite {
		background-image: url("../img/testSupportUnit.png");
	}
	.support-unit>.face {
		background-image: url("../img/testSupportUnitFace.png");
	}

	.position-unit>.sprite {
		background-image: url("../img/testPositionUnit.png");
	}
	.position-unit>.face {
		background-image: url("../img/testPositionUnitFace.png");
	}

	.enemy-unit>.sprite {
		background-image: url("../img/testEnemyUnit.png");
	}
	.enemy-unit>.face {
		background-image: url("../img/testEnemyUnitFace.png");
	}

	.rock>.sprite {
		background-image: url("../img/testObject.png");
	}

	/*Sprite Effects*/
	.test-attack-effect>.sprite {
		background-image: url("../img/testAttack.png");
		background-position-x: calc(-6*var(--unit-w));
		animation: sprite-animation 0.2s steps(6) both;
	}
	.test-heal-effect>.sprite {
		background-image: url("../img/testHeal.png");
		background-position-x: calc(-5*var(--unit-w));
		animation: sprite-animation 0.3s steps(5) both;
	}
	.test-shot-effect>.sprite {
		background-image: url("../img/testBullet.png");
		background-position-x: calc(-6*var(--unit-w));
		animation: sprite-animation 0.2s steps(6) 0.2s both;
	}
	.test-arc-effect>.sprite {
		background-image: url("../img/testBullet.png");
		background-position-x: calc(-6*var(--unit-w));
		animation: sprite-animation 0.2s steps(6) 0.4s both;
	}
	

/*Skill base and info*/
.skill {
	width: var(--skill-w);
	height: var(--skill-h);
	margin-left: 1px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
	.skill>.sprite {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		position: absolute;
	}
	.skill-description {
		display: none;
		background-color: white;
		border: 1px solid black;
		position: absolute;
		z-index: 3;
		width: max-content;
		height: max-content;
		left: 0%;
		bottom: 110%;
		border-radius: 4px;
		padding: 5px;
	}
		.skill-description::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 25px;
			border-width: 5px;
			border-style: solid;
			border-color: black transparent transparent transparent;
		}
	.cooldown-label {
		font-size: 24px;
		font-weight: bold;
		color: white;
		text-align: center;
		position: absolute;
	}

	/*Skill states*/
	.selectable.skill:hover, .skill.selected {
		bottom: 4px;
	}
	.selectable.skill:hover>.sprite, .skill.selected>.sprite {
		border: 2px solid deepskyblue;
	}
	.skill:hover .skill-description {
		display: block;
	}

	/*Skill icons*/
	.attack-skill>.sprite {
		background-color: red;
		border-radius: 25%;
	}
	.heal-skill>.sprite {
		background-color: green;
		border-radius: 25%;
	}
	.build-skill>.sprite {
		background-color: purple;
		border-radius: 25%;
	}
	.move-skill>.sprite {
		background-color: cornflowerblue;
		border-radius: 25%;
	}

/*VFX, popups, etc.*/
.popup-text {
	font-size: 24px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 4;
	animation: rise-up 1s ease-out;
}

/*Holding area for keyframes*/
@keyframes sprite-animation {
	from {
		background-position-x: 0px;
	}
}
@keyframes shake {
	from {
		margin-left: 0px;
		margin-right: 0px;
	}
	25% {
		margin-left: -8px;
		margin-right: 8px;
	}
	75% {
		margin-left: 8px;
		margin-right: -8px;
	}
	to {
		margin-left: 0px;
		margin-right: 0px;
	}
}
@keyframes rise-up {
	from {
		bottom: 95%;
	}
	50% {
		bottom: 120%;
	}
	to {
		bottom: 120%;
	}
}
@keyframes fade-out {
	to {
		opacity: 0%;
	}
}
@keyframes darken-and-fade {
	50% {
		filter: brightness(0%);
	}
	to {
		filter: brightness(0%);
		opacity: 0%;
	}
}
@keyframes drop-in {
	from {
		opacity: 0%;
		bottom: 100%;
	}
}
@keyframes banner-display {
	from {
		height: 0px;
		color: transparent;
	}
	50% {
		height: 48px;
		color: transparent;
	}
	75% {
		height: 48px;
		color: black;
	}
	to {
		height: 48px;
		color: black;
	}
}
@keyframes end-screen {
	from {
		color: transparent;
		background-color: transparent;
	}
	50% {
		color: transparent;
		font-size: 10em;
	}
	to {

	}
}

/*Layout debugging styles*/
.game-window {
	border: 1px solid black;
}

/*.nav-bar, .skill-list {
	border: 1px solid black;
	box-sizing: border-box;
}/**/