.game-window {
	display: flex;
	justify-content: center;
	align-content: center;
}

.nav-bar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 1px;
}
.nav-bar button {
	display: inline-block;
	color: white;
	background-color: deepskyblue;
	border: none;
	padding: 8px;
	flex: 0 0 25%;
	cursor: pointer;
}
.nav-bar button:hover {
	background-color: skyblue;
}
.nav-bar button:disabled {
	color: lightgray;
	background-color: gray;
	cursor: default;
}
.nav-bar span {
	flex: 0 1 100%;
	font-size: 24px;
}

.board {
	display: flex;
	flex-flow: column nowrap;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}
.row {
	flex: 0 0 auto;
	display: flex;
	flex-flow: row nowrap;
}
.square {
	flex: 0 0 64px;
	position: relative;
	background-color: gray;
	border-top: 1px solid white;
	border-left: 1px solid white;
	width: 64px;
	height: 64px;
}
.square::before {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 65%;
	content: "";
}
.square:hover::before, .selected.square::before {
	opacity: 100%;
}
.wall {
	background-color: darkslategray;
}
.pit {
	background-color: transparent;
}

.deploy-range, .move-range, .skill-range {
	cursor: pointer;
}
.deploy-range::before {
	background-color: lightseagreen;
}
.move-range::before {
	background-color: deepskyblue;
}
.skill-range::before {
	background-color: orange;
}
.skill-range-invalid::before {
	background-color: orange;
	opacity: 50%;
}
.skill-range-invalid:hover::before {
	opacity: 50%; /*don't change opacity*/
}

.piece {
	position: relative;
	z-index: 1;
	/*TODO: Is this the right place for this?*/
	width: 100%;
	height: 100%;
}
.piece::before {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	content: "";
}

.selectable::before {
	cursor: pointer;
}
.selectable:hover::before, .piece.selected::before {
	border: 2px solid deepskyblue;
	margin: -2px;
}

.unselectable::before {
	filter: grayscale(100%);
}

.x2 {
	width: 200%;
	height: 200%;
	top: 50%;
}
.x3 {
	width: 300%;
	height: 300%;
	right: 100%;
}

.unit.selectable::after {
	content: "";
	position: absolute;
	top: -16px;
	left: 21px;
	border-width: 10px;
	border-style: solid;
	border-color: white transparent transparent transparent;
}
.unit.selectable:hover::after, .skill-range .unit.selectable::after {
	top: -25px;
}

.ball::before {
	background-color: darkgreen;
	border-radius: 50%;
}
.ball2::before {
	background-color: red;
	border-radius: 50%;
}
.ball3::before {
	background-color: greenyellow;
	border-radius: 50%;
}
.rock::before {
	background-color: purple;
	height: 90%;
	width: 90%;
	margin: 5%;
}

.damaged {
	animation: shake 150ms;
}

.skill-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-top: 1px;
}

.skill {
	width: 64px;
	height: 64px;
	margin-left: 1px;
}

.attack-skill::before {
	background-color: red;
	border-radius: 25%;
}
.heal-skill::before {
	background-color: green;
	border-radius: 25%;
}
.build-skill::before {
	background-color: purple;
	border-radius: 25%;
}

.cooldown-label {
	font-size: 32px;
	font-weight: bold;
	color: white;
	text-align: center;
	position: absolute;
	top: 20%;
	left: 35%;
}

.skill-description {
	visibility: hidden;
	/* Pick better colors? */
	background-color: white;
	border: 1px solid black;
	position: absolute;
	z-index: 3;
	width: max-content;
	height: max-content;
	bottom: 110%;
	border-radius: 4px;
	padding: 5px;
}
.skill-description::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 25px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
.skill:hover .skill-description {
	visibility: visible;
}

.lifebar {
	visibility: hidden;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 8px;
	top: -12px;
	outline: 1px solid black;
	background-color: gray;
}
.inner-lifebar {
	height: 100%;
	background-color: red;
}
.piece:hover .lifebar, .skill-range .lifebar {
	visibility: visible;
}

.popup-text {
	font-size: 24px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 4;
	animation: float-up 1s ease-out;
}

.phase-banner {
	font-size: 40px;
	font-weight: bold;
	background-color: white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	position: relative;
	bottom: 50%;
	z-index: 5;
	display: flex;
	justify-content: center;
	animation: banner-display 800ms ease-out 0s 2 alternate;
}

@keyframes shake {
	from {
		margin-left: 0px;
		margin-right: 0px;
	}
	25% {
		margin-left: -8px;
		margin-right: 8px;
	}
	75% {
		margin-left: 8px;
		margin-right: -8px;
	}
	to {
		margin-left: 0px;
		margin-right: 0px;
	}
}
@keyframes float-up {
	from {
		top: 0px;
	}
	70% {
		top: -32px;
	}
	to {
		top: -32px;
	}
}
@keyframes banner-display {
	from {
		height: 0px;
		color: transparent;
	}
	40% {
		height: 48px;
		color: transparent;
	}
	80% {
		height: 48px;
		color: black;
	}
	to {
		height: 48px;
		color: black;
	}
}