.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.square {
	background-color: gray;
	width: 62px;
	height: 62px;
}

.moveRange {
	background-color: blue;
}

.skillRange {
	background-color: orange;
}

.skillList{
	border: 1px solid black;
}

.piece {
	position: relative;
	z-index: 1;
}

.x1 {
	width: 100%;
	height: 100%;
}

.x2 {
	width: 200%;
	height: 200%;
	top: 50%;
}

.x3 {
	width: 300%;
	height: 300%;
	right: 100%;
}

.selected {
	border: 2px solid white;
	margin: -2px;
}

.ball {
	background-color: red;
	border-radius: 50%;
}

.ball2 {
	background-color: green;
	border-radius: 50%;
}

.skill {
	width: 62px;
	height: 62px;
	border-radius: 25%;
	background-color: red;
}